{{>message}}
{{>logout}}
<div></div>
<a href="/todos/new"> Create</a>

<a href="/users/login">Login</a>

<ul>
  {{#each todos }}
  <li>
    <input  type="checkbox" disabled {{#if this.isDone}} checked {{/if}}>
    {{this.name}} 
    {{!-- 注意此處沒有指定遍歷元素的參數 所以只能用this --}}
    <a href="/todos/{{this.id}}">detail</a>
    <a href="/todos/{{this.id}}/edit">edit</a>
    <form action="/todos/{{this.id}}?_method=DELETE" method="POST" style="display: inline;"> <button type="submit" >delete</button></form>
  </li>
  {{/each}}


<ul>
  <form action="/todos" method="GET" style="display: inline;">
    <input type="hidden" name="page" value="1">
    <button type="submit">
      << </button>
  </form>
 <form action="/todos" method="GET" style="display: inline;">
  <input type="hidden" name="page" value="{{prev}}">
  <button type="submit"> < </button>
 </form>

  <span>page : {{page}} of {{all}} </span>

  <form action="/todos" method="GET" style="display: inline;">
    <input type="hidden" name="page" value="{{next}}">
    <button type="submit"> > </button>
 </form>
  <form action="/todos" method="GET" style="display: inline;">
    <input type="hidden" name="page" value="{{all}}">
    <button type="submit"> >> </button>
  </form>
</ul>

